* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    padding: 1rem;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    background-color: #161616;
    padding: 5rem 1rem;
    font-family: Inter;
}

.card {
    background-color: #333333;
    width: 310px;
    height: 490px;
    border-radius: 10px;
    padding: 30px 0;
}

img {
    display: flex; 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}

.info h2 {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.info h3 {
    color: #c5f82a;
    text-align: center;
    padding-top: 7px;
    font-size: 12px;
}

.info p {
    color:white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}


button {
    font-size: 13px;
    background-color: hsl(0, 0%, 12%);
    color: white;
    border: none;
    display: flex;
    text-align: center; 
    padding: 10px 100px;
    margin: 5px 30px;
    width: 250px;
    border-radius: 5px;
    font-weight: 700;
    line-height: 1.5;
}
