* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    background-color: #161616;
    padding: 5rem 1rem;
    font-family: Inter;
}

.card {
    background-color: #333333;
    width: 309px;
    height: 490px;
    border-radius: 10px;
    padding: 25px;
}

.info {
    justify-content: center;
}